<%- include('partials/header.ejs') %>
<div class="container">
    <div class="p-5 text-center bg-body-tertiary">
        <div class="container py-5">
            <h1 class="text-body-emphasis">Full-width jumbotron</h1>
            <p class="col-lg-8 mx-auto lead">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure minima, beatae perferendis voluptatibus nihil facere quisquam assumenda animi, asperiores sequi dicta dolorem dolor minus reprehenderit magnam ipsum, consectetur ex inventore?
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iure sunt recusandae, minima quaerat facilis adipisci vitae itaque eius neque officiis enim at blanditiis quo suscipit ad in quam illo pariatur.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis, reprehenderit architecto illo ea magnam laborum quaerat voluptas cupiditate aut earum a, consequuntur commodi. Nisi mollitia tempora qui, suscipit veritatis eligendi.
            </p>
          </div>
    </div>
   
  </div>
</div>


  <%- include('partials/footer.ejs') %>