<%- include('partials/header.ejs') %>
<div class="px-4 pt-5 my-4 text-center">
    <h1 class="display-4 fw-bold text-body-emphasis text-center">Centered screenshot</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium reprehenderit molestias tenetur minus libero vero, ipsa excepturi facilis debitis asperiores non nulla voluptatum distinctio eaque facere animi consehil nostrum sunt! Earum iusto minima nihil quos molestias, eligendi velit ipsum esse dolore commodi odit error voluptates asperiores quo iure maxime consequuntur quae corporis, tempore optio pariatur nam officiis in. Voluptatibus deserunt facilis quos ab asperiores, ipsa officia quas assumenda nulla cum nihil quae. Tempore non ad, quasi amet magnam debitis sequi voluptas deleniti vitae similique magni alias provident sed cupiditate modi totam doloribus nemo impedit. Perferendis placeat voluptas sint repudiandae quaerat consectetur aspernatur.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs') %>