
.container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.container.first {
    height: 45vh;
    align-items: flex-end;
}

.second {
    align-items: flex-start;
    background-color: azure;
    border-radius: 0.5rem;
    color: black;
    margin-top: 1rem;
}
.content {
    margin-top: 0.5rem;
}

@media (max-width: 600px) {
    .container.first {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}