label {
    display: block
}


body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.form-control {
   
    width: 100%;
    margin-bottom: 0.8rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}
form, div.content {
    width: 60%;
}

div.content {
    background-color: aliceblue;
    border-radius: 0.2rem;
    color: black;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
}
.btn {
    margin-right: 0.3rem;
}

